suposapp/node-red-flow.json
[
  {
    "id": "uns-iot-flow",
    "type": "tab",
    "label": "UNS IoT Flow",
    "disabled": false,
    "info": "UNS工业物联网数据流转示例流程",
    "env": []
  },
  {
    "id": "mqtt-in-current-job",
    "type": "mqtt in",
    "z": "uns-iot-flow",
    "name": "订阅当前任务状态",
    "topic": "v1/Plant_Name/SMT-Area-1/SMT-Line-1/Printer-Cell/Printer01/State/current_job",
    "qos": "1",
    "broker": "emqx-broker",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "debug-current-job"
      ]
    ]
  },
  {
    "id": "mqtt-in-alarm-status",
    "type": "mqtt in",
    "z": "uns-iot-flow",
    "name": "订阅报警状态",
    "topic": "v1/Plant_Name/SMT-Area-1/SMT-Line-1/Printer-Cell/Printer01/State/alarm_status",
    "qos": "1",
    "broker": "emqx-broker",
    "x": 150,
    "y": 160,
    "wires": [
      [
        "debug-alarm"
      ]
    ]
  },
  {
    "id": "mqtt-in-cycle-time",
    "type": "mqtt in",
    "z": "uns-iot-flow",
    "name": "订阅周期时间",
    "topic": "v1/Plant_Name/SMT-Area-1/SMT-Line-1/Printer-Cell/Printer01/Metric/board_cycle_time",
    "qos": "1",
    "broker": "emqx-broker",
    "x": 150,
    "y": 220,
    "wires": [
      [
        "debug-cycle-time"
      ]
    ]
  },
  {
    "id": "mqtt-out-start-job",
    "type": "mqtt out",
    "z": "uns-iot-flow",
    "name": "发布开始任务",
    "topic": "v1/Plant_Name/SMT-Area-1/SMT-Line-1/Printer-Cell/Printer01/Action/start_job",
    "qos": "1",
    "retain": "false",
    "broker": "emqx-broker",
    "x": 650,
    "y": 100,
    "wires": []
  },
  {
    "id": "mqtt-out-stop-job",
    "type": "mqtt out",
    "z": "uns-iot-flow",
    "name": "发布停止任务",
    "topic": "v1/Plant_Name/SMT-Area-1/SMT-Line-1/Printer-Cell/Printer01/Action/stop_job",
    "qos": "1",
    "retain": "false",
    "broker": "emqx-broker",
    "x": 650,
    "y": 160,
    "wires": []
  },
  {
    "id": "inject-start-job",
    "type": "inject",
    "z": "uns-iot-flow",
    "name": "模拟开始任务",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"job_id\":101,\"product_id\":555,\"planned_quantity\":1000}",
    "payloadType": "json",
    "x": 150,
    "y": 280,
    "wires": [
      [
        "mqtt-out-start-job"
      ]
    ]
  },
  {
    "id": "inject-stop-job",
    "type": "inject",
    "z": "uns-iot-flow",
    "name": "模拟停止任务",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"job_id\":101,\"reason\":\"finish\"}",
    "payloadType": "json",
    "x": 150,
    "y": 340,
    "wires": [
      [
        "mqtt-out-stop-job"
      ]
    ]
  },
  {
    "id": "function-simulate-data",
    "type": "function",
    "z": "uns-iot-flow",
    "name": "模拟数据生成器",
    "func": "// 模拟当前任务状态\nconst currentJob = {\n    job_id: 101,\n    product_id: 555,\n    planned_quantity: 1000,\n    completed_quantity: Math.floor(Math.random() * 1000),\n    status: 1\n};\n\n// 模拟报警状态（随机生成，10%概率有报警）\nconst hasAlarm = Math.random() < 0.1;\nconst alarmStatus = hasAlarm ? {\n    code: \"E01\",\n    msg: \"Jam\",\n    level: \"error\"\n} : {\n    code: null,\n    msg: null\n};\n\n// 模拟周期时间\nconst cycleTime = {\n    cycle_time_ms: 1000 + Math.floor(Math.random() * 500),\n    ts: new Date().toISOString(),\n    boards_count: {\n        good: Math.floor(Math.random() * 100),\n        bad: Math.floor(Math.random() * 10),\n        total: Math.floor(Math.random() * 110)\n    }\n};\n\n// 发送多条消息\nreturn [\n    {payload: currentJob, topic: \"current_job\"},\n    {payload: alarmStatus, topic: \"alarm_status\"},\n    {payload: cycleTime, topic: \"cycle_time\"}\n];",
    "outputs": 3,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 200,
    "y": 400,
    "wires": [
      [
        "mqtt-out-current-job-sim"
      ],
      [
        "mqtt-out-alarm-sim"
      ],
      [
        "mqtt-out-cycle-time-sim"
      ]
    ]
  },
  {
    "id": "inject-simulate",
    "type": "inject",
    "z": "uns-iot-flow",
    "name": "触发模拟数据",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 400,
    "wires": [
      [
        "function-simulate-data"
      ]
    ]
  },
  {
    "id": "mqtt-out-current-job-sim",
    "type": "mqtt out",
    "z": "uns-iot-flow",
    "name": "发布模拟当前任务",
    "topic": "v1/Plant_Name/SMT-Area-1/SMT-Line-1/Printer-Cell/Printer01/State/current_job",
    "qos": "1",
    "retain": "false",
    "broker": "emqx-broker",
    "x": 450,
    "y": 360,
    "wires": []
  },
  {
    "id": "mqtt-out-alarm-sim",
    "type": "mqtt out",
    "z": "uns-iot-flow",
    "name": "发布模拟报警",
    "topic": "v1/Plant_Name/SMT-Area-1/SMT-Line-1/Printer-Cell/Printer01/State/alarm_status",
    "qos": "1",
    "retain": "false",
    "broker": "emqx-broker",
    "x": 450,
    "y": 400,
    "wires": []
  },
  {
    "id": "mqtt-out-cycle-time-sim",
    "type": "mqtt out",
    "z": "uns-iot-flow",
    "name": "发布模拟周期时间",
    "topic": "v1/Plant_Name/SMT-Area-1/SMT-Line-1/Printer-Cell/Printer01/Metric/board_cycle_time",
    "qos": "1",
    "retain": "false",
    "broker": "emqx-broker",
    "x": 450,
    "y": 440,
    "wires": []
  },
  {
    "id": "debug-current-job",
    "type": "debug",
    "z": "uns-iot-flow",
    "name": "调试当前任务",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug-alarm",
    "type": "debug",
    "z": "uns-iot-flow",
    "name": "调试报警",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 160,
    "wires": []
  },
  {
    "id": "debug-cycle-time",
    "type": "debug",
    "z": "uns-iot-flow",
    "name": "调试周期时间",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 220,
    "wires": []
  },
  {
    "id": "emqx-broker",
    "type": "mqtt-broker",
    "name": "EMQX Broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "node-red-uns",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]

